@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 160px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-container input {
  font-family: "Roboto", sans-serif;
  caret-color: #e96310;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #085454;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-container button:hover,.form-container button:active,.form-container button:focus {
  background: #0c7373;
}
.form-container .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-container .message a {
  color: #085454;
  text-decoration: none;
  font-weight: 700;
}

.google{
  width: 35px;
  cursor: pointer;
  padding: 5px; border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}